<!-- dropdown-menu.html -->
<div class="dropdown">
    <button onclick="toggleDropdown()" class="btn btn-primary">Menu <i class="fa fa-caret-down"></i></button>
    <div id="dropdownContent" class="dropdown-content">
        <a href="#">Perfil</a>
        <a href="#">Configuración</a>
        <a href="@Url.Action("Index", "Home")">Cerrar Sesión</a>
    </div>
</div>
