@{
    Layout = null; // Evita que utilices un diseño predeterminado si lo tienes configurado
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Cliente css/olvidocontraseña.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>Olvidé mi contraseña</title>
</head>
<body>
    <div class="container">
        <h1 class="logo-container">FOTOLOGY <br /><img src="~/Recursos/LOGO.png" class="logo"></h1>
        <h2>Olvidé mi contraseña</h2>
        <div class="texto">
            Por favor, introduce tu dirección de correo electrónico y te enviaremos un enlace para restablecer tu contraseña.
            <form action="#" method="post">
                <label for="email">Correo electrónico:</label>
                <input type="email" id="email" name="email" required>
                <input type="submit" value="Enviar solicitud">
            </form>
            <div class="contenedor-boton">
                <button class="boton-volver" onclick="goBack()">Volver</button>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="redes-sociales">
            <a href="https://www.facebook.com/tufotology" target="_blank">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="https://www.instagram.com/tufotology" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.twitter.com/tufotology" target="_blank">
                <i class="fab fa-twitter"></i>
            </a>
        </div>
        <p>&copy; 2024 Fotology. Todos los derechos reservados.</p>
    </footer>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>
</html>


